@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebClient.Models.Resident.CreateResidentViewModel
@{
    ViewData["Title"] = "Resident Page - Create";
}

<div class="container">
<h3>Konaklayan Ekle</h3>
<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="PersonId" class="form-label"></label>
        <input asp-for="PersonId" type="text" class="form-control" id="personId" aria-describedby="personIdHelp">
        <div id="personIdHelp" class="form-text">Kullanıcı id giriniz.</div>
    </div>
    <div class="mb-3">
        <label asp-for="HouseId" class="form-label"></label>
        <input asp-for="HouseId" type="text" class="form-control" id="houseId" aria-describedby="houseIdHelp">
        <div id="houseIdHelp" class="form-text">Ev id giriniz.</div>
    </div>
    <div class="mb-3">
        <label asp-for="CarPlate" class="form-label"></label>
        <input asp-for="CarPlate" type="text" class="form-control" id="carPlate" aria-describedby="carPlateHelp">
        <div id="carPlateHelp" class="form-text">Araç Plakası giriniz.</div>
    </div>
    <div class="mb-3">
        <label asp-for="IsHirer" class="form-label"></label>
        <input asp-for="IsHirer" type="text" class="form-control" id="isHirer" aria-describedby="isHirerHelp">
        <div id="isHirerHelp" class="form-text">Kiracı mı?.</div>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>


</div>


