@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1><strong>Burayı görüntülemeye yetkniz yok !</strong></h1>
</div>