@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebClient.Models.Invoice.CreateInvoiceViewModel
@{
    ViewData["Title"] = "Invoice Page - Create";
}

<div class="container">
    <h3>Fatura Ekle</h3>
    <form method="post" asp-action="Create">
        <div class="mb-3">
            <label asp-for="HouseId" class="form-label"></label>
            <div class="input-group mb-3">
                <select asp-for="HouseId" asp-items="@ViewData["Houses"] as IEnumerable<SelectListItem>" class="form-control" aria-describedby="houseHelp">
                    <option disabled selected>--Select House--</option>
                </select>
                <a asp-controller="House" asp-action="Create" class="btn btn-primary">+</a>
            </div>
            <div id="houseHelp" class="form-text">Ev giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="InvoiceTypeId" class="form-label"></label>
            <div class="input-group mb-3">
                <select asp-for="InvoiceTypeId" asp-items="@ViewData["InvoiceTypes"] as IEnumerable<SelectListItem>" class="form-control" aria-describedby="invoiceTypeHelp">
                    <option disabled selected>--Select Invoice Type--</option>
                </select>
                <a asp-controller="InvoiceType" asp-action="Create" class="btn btn-primary">+</a>
            </div>
            <div id="invoiceTypeHelp" class="form-text">Fatura tipini giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="Amount" class="form-label"></label>
            <input asp-for="Amount" class="form-control" id="amount" aria-describedby="amountrHelp">
            <div id="amountrHelp" class="form-text">Tutarı giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="InvoiceDate" class="form-label"></label>
            <input asp-for="InvoiceDate" class="form-control" id="invoiceDate" aria-describedby="invoiceDateHelp">
            <div id="invoiceDateHelp" class="form-text">Fatura tarihi giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="Status" class="form-label"></label>
            <input asp-for="Status" class="form-control" id="status" aria-describedby="statusHelp">
            <div id="statusHelp" class="form-text">Status giriniz.</div>
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>


</div>