@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebClient.Models.Invoice.CreateInvoiceViewModel
@{
    ViewData["Title"] = "Invoice Page - Create";
}

<div class="container">
    <h3>Fatura Ekle</h3>
    <form method="post" asp-action="Create">
        <div class="mb-3">
            <label asp-for="HouseId" class="form-label"></label>
            <input asp-for="HouseId" class="form-control" id="houseId" aria-describedby="houseIdHelp">
            <div id="houseIdHelp" class="form-text">Ev id giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="InvoiceTypeId" class="form-label"></label>
            <input asp-for="InvoiceTypeId" class="form-control" id="invoiceTypeId" aria-describedby="invoiceTypeIdHelp">
            <div id="invoiceTypeIdHelp" class="form-text">Fatura tip id giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="Amount" class="form-label"></label>
            <input asp-for="Amount" class="form-control" id="amount" aria-describedby="amountrHelp">
            <div id="amountrHelp" class="form-text">Tutarı giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="InvoiceDate" class="form-label"></label>
            <input asp-for="InvoiceDate" class="form-control" id="invoiceDate" aria-describedby="invoiceDateHelp">
            <div id="invoiceDateHelp" class="form-text">Fatura tarihi giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="Status" class="form-label"></label>
            <input asp-for="Status" class="form-control" id="status" aria-describedby="statusHelp">
            <div id="statusHelp" class="form-text">Status giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="PayingPersonId" class="form-label"></label>
            <input asp-for="PayingPersonId" class="form-control" id="payingPersonId" aria-describedby="payingPersonIdHelp">
            <div id="payingPersonIdHelp" class="form-text">Ödeyen kullanıcı id giriniz.</div>
        </div>
        <div class="mb-3">
            <label asp-for="DueDate" class="form-label"></label>
            <input asp-for="DueDate" class="form-control" id="dueDate" aria-describedby="dueDateHelp">
            <div id="dueDateHelp" class="form-text">Ödeme tarihi giriniz.</div>
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>


</div>