@using WebClient.Models.FlatType
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UpdateFlatTypeViewModel
@{
    ViewData["Title"] = "FlatType Page - Edit";
}

<div class="container p-3">

    <h2>Daire Detayı</h2>
    <form method="post" asp-action="Edit">
            <input asp-for="Id" hidden />
        <div class="mb-3">
            <label asp-for="RoomCount" class="form-label"></label>
            <input asp-for="RoomCount" class="form-control" id="name" value=@Model.RoomCount >
        </div>
        <div class="mb-3">
            <label asp-for="LivingRoomCount" class="form-label"></label>
            <input asp-for="LivingRoomCount" class="form-control" id="totalFloors" value=@Model.LivingRoomCount>
            
        </div>
        <input type="submit" value="Edit" class="btn btn-primary">
    </form>
    @*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@


</div>
